body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  background: #fbf9f9;
  border-radius: 8px;
}

input, select, textarea, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background:gray;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .form-container {
    margin: 1rem;
  }
}

.success { color: green; }
.error { color: red; }
