*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(223, 186, 186);
}

/* .main{} */

.card{
    margin: 0px auto;
    height: 550px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    background: rgb(204, 204, 217);
}
.card-name{
    color: rgb(102, 91, 175);
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}
.card-img{
    position: absolute;
    top: 30%;
    right: 30%;
    height: 100px;
    width: 120px;
}
.img{
    border: 3px solid white;
    border-radius: 50%;
}
.card-p{
    margin: 50% 20px;
    margin-bottom: 0;
    padding: 10px;                                                                              
    color: rgb(111, 54, 54);
}
.row{
    display: flex;
    padding: 20px;
}
.col{
    width: 33.33%;
    
}
.col-h3{
    color: rgb(11, 2, 2);
    text-align: center;
    text-transform: capitalize;
}
.button{
    text-align: center;
}
.card-btn{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    margin: 0px 10px;
    text-transform: capitalize;
}