 {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* utilies */
 .container {
     width: 90%;
     margin: 0 auto;
 }

 .main {
     background-color: #ede2b5;
     padding: 15px 0px;
 }

 .nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav .logo {
     width: 150px;
 }

 .nav-ul .nav-li {
     display: inline-block;
     padding: 10px 20px;
 }

 .nav-li .nav-a {
     font-size: 25px;
     color: #716c53;
     font-weight: 600;
     font-family: "Poppins";
     text-decoration: none;
 }

 .icon i {
     font-size: 25px;
     color: #716c53;
 }

 .icon.bar {
     display: none;
 }

 .header-main {
     height: 400px;
     padding: 30px 0px;
     background: url("/image/my_project_backgrond.png");
     background-size: 100% 100%;
 }

 .header-main .header-h1 {
     font-size: clamp(20px 8.6vw 91px);
     text-transform: uppercase;
     color: #ffefd5;
     font-weight: 100;
     font-family: "Montserrat";
 }

 .header-main .header-p {
     width: 55%;
     font-size: 26px;
     color: #ffefd5;
     font-weight: 100;
     font-family: "Montserrat";
     margin: 30px 0px;
 }

 .header-main .header-btn {
     font-size: 16px;
     text-transform: uppercase;
     color: #b75a74;
     font-weight: 100;
     font-family: "Montserrat";
     text-align: center;
     border-radius: 33px;
     background-color: #ffefd5;
     border: none;
     padding: 10px 30px;
 }

 #team {
     height: 700px;
     background: url("/image/team_background.png");
     background-size: 100% 100%;
     padding: 30px 0px;
     position: relative;
     overflow: hidden;
 }

 /* #team::after {
     content: url("/image/team-design.png");
     background-size: 100% 100%;
     position: absolute;
     top: 0;
 } */

 #team .team-h1 {
     font-size: 64px;
     text-transform: uppercase;
     color: #b75a74;
     font-weight: 300;
     font-family: "Montserrat";
     text-align: center;
 }

 #team .team-p {
     width: 65%;
     /* height: 210px; */
     font-size: 30px;
     color: #b75a74;
     font-weight: 100;
     font-family: "Montserrat";
     /* text-align: center; */
     margin: 20px auto;
 }

 .team-main .row {
     display: flex;
 }

 .team-main .row .col {
     width: 33.33%;
 }

 .card {
     text-align: center;
     font-weight: 600;
     color: #716c53;
     padding: 30px 20px;
 }

 .card .card-img {
     width: 60%;
     margin: 0% auto;
 }

 .card .team-h4 {
     font-size: 28px;
     color: #b75a74;
     font-weight: 100;
     font-family: "Montserrat";
     text-align: center;
 }

 .card .our-p {
     width: 400px;
     height: 119px;
     font-size: 22px;
     color: #b75a74;
     font-weight: 100;
     font-family: "Montserrat";
     text-align: center;
     padding: 10px 20px;
 }

 #hike {
     height: 500px;
     background-color: #af4161;
     background-size: 100% 100%;
     padding: 30px 0px;
 }

 .hike .row {
     display: flex;
     align-items: center;
 }

 .hike .row .col {
     width: 50%;
 }

 .hike {
     padding: 20px 0px;
 }

 .hike-img {
     width: 70%;
     margin: 0 auto;
 }

 .hike-content .hike-h1 {
     font-size: 75px;
     text-transform: uppercase;
     color: #ffefd5;
     font-weight: 900;
     font-family: "Montserrat";
 }

 .hike-content .hike-p {
     font-size: 30px;
     color: #ffefd5;
     font-weight: 100;
     font-family: "Montserrat";
     margin: 20px 0px;
 }

 .hike-content .hike-btn {
     font-size: 20px;
     color: #b75a74;
     font-weight: 100;
     padding: 10px 40px;
     font-family: "Montserrat";
     text-align: center;
     border-radius: 32px;
     background-color: #ffefd5;
     border: none;
 }

 /* statistics start */

 /* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Section Background */
.statistics-section {
  background: url("/image/state-Background.png");
  padding: 80px 20px;
  text-align: center;
}

/* Container */
.container {
  max-width: 1200px;
  margin: auto;
}

/* Title */
.title {
  font-size: 36px;
  font-weight: 700;
  color: #c75b7a;
  margin-bottom: 15px;
}

/* Subtitle */
.subtitle {
  max-width: 650px;
  margin: auto;
  font-size: 20px;
  color: #c75b7a;
  margin-bottom: 60px;
}

/* Stats Layout */
.stats-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Circle */
.stat-circle {
  width: 180px;
  height: 180px;
  border: 3px solid #c75b7a;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c75b7a;
}

/* Number */
.stat-circle h3 {
  font-size: 42px;
  font-weight: 700;
}

/* Label */
.stat-circle span {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
}
 /* statistics end */

 #tour {
     /* height: 600px; */
     background-color: #af4161;
     background-size: 100% 100%;
     /* padding: 30px 0px; */
 }

 .tour .row {
     display: flex;
     align-items: center;
 }

 .tour .row .col {
     width: 50%;
 }
 .tour .col1{
    width: 30%;
    margin: 40px left;
 }

 .tour {
     padding: 20px 0px;
 }

 .tour-img {
     width: 40px;
     margin: 0 auto;

 }

 .tour-content .tour-h1 {
     font-size: 75px;
     text-transform: uppercase;
     color: #ffefd5;
     font-weight: 900;
     font-family: "Montserrat";
 }

 .tour-content .tour-p {
     width: 90%;
     font-size: 30px;
     color: #ffefd5;
     font-weight: 70;
     font-family: "Montserrat";
     padding: 20px 20px;
 }

 .tour-content .tour-btn {
     font-size: 25px;
     text-transform: uppercase;
     color: #b75a74;
     font-weight: 100;
     font-family: "Montserrat";
     text-align: center;
     border-radius: 32px;
     background-color: #ffefd5;
     padding: 10px 40px;
     border: none;
 }
 /* search start */
 .subscribe-section {
    min-height: 400px;
    background-color: #fdeed8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

/* Decorative shapes */
.subscribe-section::before,
.subscribe-section::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #e9d7b8;
    border-radius: 50%;
}

.subscribe-section::before {
    top: -80px;
    left: -80px;
}

.subscribe-section::after {
    bottom: -100px;
    right: -100px;
}

/* Content box */
.subscribe-box {
    text-align: center;
    max-width: 600px;
    padding: 40px;
    z-index: 1;
}

/* Heading */
.subscribe-box h1 {
    color: #c25b6f;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin: 50px right;
}

/* Text */
.subscribe-box p {
    color: #c25b6f;
    width: 90%;
    font-size: 20px;
    margin: auto;
    padding: 20px;
}

/* Form */
.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* Input */
.subscribe-form input {
    padding: 12px 18px;
    width: 260px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
}

/* Button */
.subscribe-form button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #c25b6f;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.subscribe-form button:hover {
    background-color: #a84a5d;
}
/* footer */
#footer {
    padding: 30px 0px;
    background-color: #371330;
}

#footer .row {
    display: flex;
    padding: 20px 0px;
}

#footer .row .col-4 {
    width: 40%;

}

#footer .row .col-6 {
    width: 60%;

}

#footer .row .col-6 .col {
    width: 33.33%;
}

.foot-content {
    color: #ffffff;
    font-family: "Nunito";
}

.foot-content .foot-h3 {
    font-size: clamp(16px, 3.2vw, 32px);
    font-weight: 700;
}

.foot-content .foot-ul {
    list-style: none;
    margin: 20px 0px;
}

.foot-ul .foot-li {
    margin: 10px 0px;
}

.foot-ul .foot-li .foot-a {
    font-size: clamp(16px, 3.2vw, 25px);
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.foot-p {

    font-size: clamp(16px, 3.2vw, 25px);
    color: #ffffff;
    margin: 20px 0px;
    width: 90%;
    font-weight: 400;
    font-family: "Nunito";
}
.icon{
   cursor: pointer;

   }
