@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {
    .nav-li .nav-a {
        font-size: 18px;
    }
}

@media only screen and (max-width:768px) {
    .icon .bar {
        display: block;
    }

    .icon .search {
        display: none;
    }

    .nav-ul {
        display: none;
    }

    #team .team-p {
        width: 100%;
    }

    .team-main .row {
        /* flex-direction: column; */
        display: block;
    }

    .team-main .row .col {
        width: 80%;
        margin: 0 auto;
    }

    .best .row {
        flex-direction: column;
    }

    .best .row .col {
        width: 100%;
        /* border: 2px solid; */
        margin: 20px 0px;
    }

    #footer .row {
        display: block;
    }

    #footer .row .col-4 {
        width: 100%;
        text-align: center;
    }

    #footer .row .col-6 {
        width: 100%;
        text-align: center;
    }

    #footer .row .col-6 .col {
        width: 100%;
    }

}

@media only screen and (max-width:576px) {
    .header-main .header-h1 {
        width: 100%;
    }

    .header-main .header-btn {
        padding: 5px 10px;
    }

    .team-main .row .col {
        width: 90%;
    }

    #team::after {
        display: none;
    }

    


}